<div class="container">
    <div id="header">
        <h2>Angular SHopping</h2>
        <ul>
            <li ui-serf-active="active">
                <a ui-sref="home">Home</a>
            </li>
            <li ui-serf-active="active">
                <a ui-sref="cart">Cart</a>
            </li>
            <li ui-serf-active="active">
                    <a ui-sref="addproduct">Add Product</a>
            </li>
        </ul>
    </div>
    <div id="body">       
        <ui-view></ui-view>   
    </div>
    <div id="footer">Copyrights &copy; Gopi A</div>
    
</div>
    
